/* .App {
  text-align: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  background-color: #02475e;
}

ul li {
  list-style: none;
  text-decoration: none;
  font-size: 18px;
}

h2 {
  margin-bottom: 1.5rem;
}

.todoApp__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #de8971;
  padding: 30px;
  border-radius: 5px;
}

.todo__form {
  margin-bottom: 15px;
}

.todo__app {
  width: 550px;
  /* min-height: 100vh; */
}

.todo__input[type="text"] {
  width: 89%;
  height: 35px;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  border: none;
  padding: 0px 10px;
}

.todo__btn {
  padding: 9px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #02475e;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.todo {
  /* display: flex; */

  border-radius: 4px;
  /* width: 100%; */
}

.todo__item {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  grid-column-gap: 4px;
  padding: 10px 15px;
  align-items: center;
  background-color: #f3bda1;
  margin-bottom: 5px;
}

.dlt__btn {
  padding: 5px 8px;
  background-color: crimson;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.done__btn {
  padding: 5px 8px;
  background-color: green;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  opacity: 0.8;
}
